services:
  springboot-app_prod:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: springboot-app_prod
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_HOST=${MONGO_HOST}
      - SPRING_DATA_MONGODB_PORT=${MONGO_PORT}
      - SPRING_DATA_MONGODB_DATABASE=${MONGO_DATABASE}
      - SPRING_DATA_MONGODB_USERNAME=${MONGO_USERNAME}
      - SPRING_DATA_MONGODB_PASSWORD=${MONGO_PASSWORD}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped